* {
    font-family: poppins;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #222;
}

.search {
    width: 60%;
    max-width: 500px;
    height: 120px;
    background: rgb(25, 159, 190);
    background: linear-gradient(90deg, rgba(25, 159, 190, 1) 0%, rgba(23, 95, 152, 1) 100%, rgba(0, 212, 255, 1) 100%);
    margin: 40px auto 0 auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: none;
    height: 50px;
    width: 380px;
    margin: auto auto;
    border-radius: 40px;
    padding: 20px;
    font-size: 17px;
    text-align: left;
}

.search button {
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border-radius: 50%;
}

.search button img {
    width: 20px
}

.error {
    color: aliceblue;
    font-size: 20px;
    height: 60px;
    width: 60%;
    max-width: 500px;
    margin: -25px auto;
    border-radius: 15px;
    background: rgb(25, 159, 190);
    background: linear-gradient(90deg, rgba(25, 159, 190, 1) 0%, rgba(23, 95, 152, 1) 100%, rgba(0, 212, 255, 1) 100%);
    display: none;
}

.ruler {
    width: 60%;
    height: 3px;
    background-color: rgb(225, 225, 236);
    border-radius: 5px;
    margin: 20px auto 10px auto;
}

.weather {
    width: 90%;
    max-width: 500px;
    background: rgb(25, 159, 190);
    background: linear-gradient(90deg, rgba(25, 159, 190, 1) 0%, rgba(23, 95, 152, 1) 100%, rgba(0, 212, 255, 1) 100%);
    margin: -25px auto;
    border-radius: 15px;
}

.weather img {
    width: 170px;
}

.weather h1 {
    color: white;
    font-size: 90px;
    font-weight: 500;
}

.weather h2 {
    color: white;
    font-size: 45px;
    font-weight: 400;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col {
    display: flex;
    align-items: center;
    margin: 40px 0 50px 0;
}

.col img {
    width: 70px;
}

.value {
    color: white;
    margin-left: 10px;
}

.wind,
.humidity {
    font-size: 30px;
}

.weather {
    display: none;
}